.navbar {
  display: block;
  background: rgb(55, 58, 62);
  background: linear-gradient(
    90deg,
    rgba(55, 58, 62, 1) 21%,
    rgba(90, 92, 96, 1) 58%,
    rgba(55, 58, 62, 1) 100%
  );
  color: #fff;
  padding: 2rem 0;
}

.navbar .container {
  display: flex;
  place-content: space-between;
  align-items: center;
}

.navbar li {
  font-size: var(--xs-font-size);
}

.navbar nav ul {
  display: flex;
}

.navbar nav ul li {
  display: flex;
  margin-left: 1rem;
}

li button {
  cursor: pointer;
  font-size: var(--xs-font-size);
  background: transparent;
  border: 0;
  color: #fff;
}

.submenu {
  position: relative;
}

.submenu-items {
  /* position: absolute; */
  top: 25px;
  left: 0;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 1rem 1rem 1rem 0;
  margin-left: 0;
  /* display: none !important; */
}

.nav-menu-bar {
  display: none;
  font-size: var(--sm-font-size);
}

@media only screen and (max-width: 768px) {
  nav {
    /* display: none; */
    border: 1px solid red;
  }
  .navbar nav ul {
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1.5rem;
    position: absolute;
    background: rgb(55, 58, 62);
    width: 100%;
    top: 15%;
    /* bottom: 0; */
    left: 0;
  }

  nav ul .submenu-items {
    background: rgba(0, 0, 0, 0.6);
  }
  .navbar nav ul li {
    margin: 1rem 0;
  }
  .nav-menu-bar {
    display: block;
  }
  .nav-menu-close {
    display: none;
  }
  .nav-menu-open {
    display: block;
  }
}
